* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

.app__base {
  width: 500px;
  border: 1px solid red;
  margin-top: 3%;
  margin-left: 32%;
  padding: 40px;

  & h2 {
    text-align: center;
  }

  .input-sect {
    display: flex;
    justify-content: space-between;
    margin-top: 6%;

    & .input-todo {
      height: 45px;
      width: 320px;
      padding: 12px;
      border-radius: 4px;
      outline-color: #0a014f;
      font-size: 20px;
    }

    & button {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #0a014f;
      color: #fff;
      border: transparent;

      &:hover {
        cursor: pointer;
      }

      & .fas {
        color: #fff;
        font-size: 20px;
      }
    }
  }

  .todo-list {
    .todo-item {
      margin-top: 25px;
      height: 45px;
      height: 100%;
      background: ghostwhite;
      box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      padding: 15px;
      display: flex;
      justify-content: space-between;

      &:hover {
        background: #0a014f;
        color: #fff;
        cursor: pointer;
        transition: all 0.4s ease-in;
      }

      &.item-control {
        width: 800px;
        display: flex;
        margin: 4px;
        height: 100%;
 
        button {
          margin: 30px;
        }
      }
    }
  }

  @media only screen and (max-width: 576px) {
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 10%;

    & .input-sect {
      .input-todo {
        width: 78%;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    width: 100%;
    margin: auto;
    padding: 45px;
    margin-top: 10%;

    & .input-sect {
      .input-todo {
        width: 78%;
        height: 55px;
      }

      button {
        height: 60px;
        width: 60px;
      }
    }
  }
}
